@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700,300,300italic);
body {
  font-family: 'Roboto' , sans-serift; }

header#headerG .headCont {
  height: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px; }
  header#headerG .headCont .redesHeader {
    text-align: center; }
    header#headerG .headCont .redesHeader p {
      margin: 0; }
      header#headerG .headCont .redesHeader p a {
        color: #272727;
        font-size: 1.7rem; }
  header#headerG .headCont .brandCont {
    text-align: center; }
    header#headerG .headCont .brandCont img {
      max-width: 270px;
      width: 100%; }
  header#headerG .headCont .firstLick {
    text-align: center; }
    header#headerG .headCont .firstLick a {
      color: #555555; }
header#headerG #navBar:after,
header#headerG #navBar:before {
  content: '';
  display: block;
  clear: both; }
header#headerG #navBar {
  position: relative;
  background-color: #000000;
  height: 100px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  header#headerG #navBar .btnToggle:before,
  header#headerG #navBar .btnToggle:after {
    content: '';
    display: block;
    clear: both; }
  header#headerG #navBar .btnToggle {
    height: 100px;
    display: flex;
    align-items: center; }
    header#headerG #navBar .btnToggle .btnMovil {
      color: #ffffff; }
      header#headerG #navBar .btnToggle .btnMovil .iconNavMovil {
        font-size: 2rem; }
  header#headerG #navBar .contItemsNav ul {
    margin: 0px;
    list-style: none; }
    header#headerG #navBar .contItemsNav ul li {
      border-right: 1px solid #fff; }
      header#headerG #navBar .contItemsNav ul li:nth-last-child(1) {
        border-right: none; }
      header#headerG #navBar .contItemsNav ul li a {
        padding: 0px 3px;
        display: block;
        position: relative;
        color: #ffffff;
        text-align: center;
        z-index: 10; }
        header#headerG #navBar .contItemsNav ul li a:before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          background: url(../recursos/img/testHoverBg.png) no-repeat;
          background-size: 100%;
          background-position: center;
          top: 0;
          opacity: 0.3;
          z-index: 1;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        header#headerG #navBar .contItemsNav ul li a:hover:before {
          opacity: 0.9; }
header#headerG #navBar.openNav {
  height: 300px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
@media screen and (min-width: 768px) {
  header#headerG #navBar .btnToggle {
    display: none; }
  header#headerG #navBar .contItemsNav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px; }
    header#headerG #navBar .contItemsNav ul {
      width: 100%;
      display: flex;
      align-items: center;
      height: 50px;
      justify-content: center; }
      header#headerG #navBar .contItemsNav ul li {
        padding: 0px 5px;
        display: inline-block; }
        header#headerG #navBar .contItemsNav ul li a {
          padding-bottom: 0px 3px; } }

main .wrapper #bannerHome:after,
main .wrapper #bannerHome:before {
  content: '';
  display: block;
  clear: both; }
main .wrapper #bannerHome {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%;
  overflow: hidden; }
  main .wrapper #bannerHome .thumBannerHome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../recursos/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    overflow: hidden; }
    main .wrapper #bannerHome .thumBannerHome img {
      max-width: none;
      height: auto;
      position: absolute;
      width: 100%;
      height: 100%; }
    main .wrapper #bannerHome .thumBannerHome video {
      max-width: none;
      height: auto;
      position: absolute;
      width: 100%;
      height: 100%; }
  main .wrapper #bannerHome .coverBannerVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
main .wrapper #galleryHome:after,
main .wrapper #galleryHome:before {
  content: '';
  display: block;
  clear: both; }
main .wrapper #galleryHome {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #323232; }
  main .wrapper #galleryHome .galleryHome {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative; }
    main .wrapper #galleryHome .galleryHome .cardGalleryHome {
      position: relative;
      width: 100%;
      overflow: hidden; }
      main .wrapper #galleryHome .galleryHome .cardGalleryHome .cardGalleryHomeHeader {
        position: relative;
        width: 100%;
        overflow: hidden; }
        main .wrapper #galleryHome .galleryHome .cardGalleryHome .cardGalleryHomeHeader img {
          position: relative;
          text-align: center;
          top: 0;
          right: 0;
          width: 100%;
          min-width: 200px;
          max-width: none; }
      main .wrapper #galleryHome .galleryHome .cardGalleryHome .contbodyCardGallery {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        main .wrapper #galleryHome .galleryHome .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody {
          position: relative;
          width: 0%;
          margin: 0px auto;
          height: 90%;
          background: rgba(0, 0, 0, 0.7);
          overflow: hidden;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          main .wrapper #galleryHome .galleryHome .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody .cardGalleryTxt {
            opacity: 0;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 2s ease;
            -ms-transition: all 2s ease;
            -o-transition: all 2s ease;
            transition: all 2s ease; }
            main .wrapper #galleryHome .galleryHome .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody .cardGalleryTxt h2 {
              text-align: center;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 1.3rem;
              padding-top: 5px; }
            main .wrapper #galleryHome .galleryHome .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody .cardGalleryTxt p {
              text-align: center;
              color: #ffffff; }
    main .wrapper #galleryHome .galleryHome:hover .cardGalleryHome .contbodyCardGallery {
      transform: translateX(0); }
      main .wrapper #galleryHome .galleryHome:hover .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody {
        width: 90%; }
        main .wrapper #galleryHome .galleryHome:hover .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody .cardGalleryTxt {
          opacity: 1; }

footer:after,
footer:before {
  content: '';
  display: block;
  clear: both; }

footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #272727; }
  footer .titleFooter {
    text-align: center;
    color: #ffffff;
    font-weight: 900; }
  footer .contForm form .inputCont input, footer .contForm form .inputCont textarea {
    color: #555555;
    border: none;
    background: none;
    box-shadow: none;
    border-bottom: 1px solid #555555; }
    footer .contForm form .inputCont input:focus, footer .contForm form .inputCont textarea:focus {
      border-bottom: 2px solid #555555; }
  footer .contForm form .inputCont textarea {
    min-width: 100%;
    height: 100px;
    min-height: 100px; }
  footer .contForm form .inputCont button {
    padding: 5px;
    width: 100%;
    border: 2px solid #ffffff;
    color: #ffffff; }
  footer .contForm form .inputCont ::-webkit-input-placeholder {
    color: #555555; }
  footer .contForm form .inputCont :-moz-placeholder {
    /* Firefox 18- */
    color: #555555; }
  footer .contForm form .inputCont ::-moz-placeholder {
    /* Firefox 19+ */
    color: #555555; }
  footer .contForm form .inputCont :-ms-input-placeholder {
    color: #555555; }
  footer .contactFooter {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
    footer .contactFooter p {
      color: #ffffff;
      margin-bottom: 0.7rem; }
      footer .contactFooter p a {
        color: #ffffff;
        font-size: 1.3rem; }
  footer .redesFooter {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
    footer .redesFooter p {
      margin: 0px; }
      footer .redesFooter p a {
        padding: 0px 10px; }
        footer .redesFooter p a i {
          color: #ffffff;
          font-size: 1.4rem; }
  footer .navFooter {
    padding-bottom: 5px;
    padding-top: 5px; }
    footer .navFooter ul {
      padding: 0px;
      list-style: none;
      text-align: right; }
      footer .navFooter ul li a {
        font-size: 1.1rem;
        color: #ffffff; }

/*otras ventanas*/
#bannerWindow:after,
#bannerWindow:before {
  content: '';
  display: block;
  clear: both; }

#titleSite {
  margin-top: 120px; }
  #titleSite h2 {
    margin: 0px;
    color: #4c4c4c;
    font-weight: 700; }

#bannerWindow {
  padding-bottom: 50px;
  position: relative;
  background: #f2f2f2; }
  #bannerWindow .titleWindow .titleE {
    font-family: 'Dragon_is_coming' , sans-serift;
    font-size: 4rem;
    line-height: 0.7;
    text-align: center;
    font-weight: 400; }
    @media screen and (min-width: 480px) {
      #bannerWindow .titleWindow .titleE {
        text-align: left;
        font-size: 6rem; } }
  #bannerWindow .titleWindow h1, #bannerWindow .titleWindow h3 {
    margin: 0;
    color: #555555;
    text-align: fleft; }
  #bannerWindow .titleWindow h1 {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center; }
    @media screen and (min-width: 480px) {
      #bannerWindow .titleWindow h1 {
        font-size: 1.8rem;
        text-align: left; } }
  #bannerWindow .titleWindow h3 {
    color: #4c4c4c;
    font-family: 'Roboto' , sans-serift;
    font-weight: 300; }
  #bannerWindow .titleWindow p {
    text-align: justify; }

.btnVerMAs {
  text-align: center;
  margin: 10px 0px; }
  .btnVerMAs:after, .btnVerMAs:before {
    content: '';
    display: block;
    clear: both; }
  .btnVerMAs a {
    display: block;
    max-width: 320px;
    margin: 0px auto;
    padding: 7px 10px;
    background-color: transparent;
    border: 2px solid #272727;
    color: #272727;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .btnVerMAs a:hover {
      color: #f2f2f2;
      background-color: #272727; }

#bodyAudioVideo:after,
#bodyAudioVideo:before {
  content: '';
  display: block;
  clear: both; }

#bodyAudioVideo {
  padding-bottom: 50px;
  background: #f2f2f2; }
  #bodyAudioVideo .contCardAudioVideo:after, #bodyAudioVideo .contCardAudioVideo:before {
    content: '';
    display: block;
    clear: both; }
  #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo {
    box-sizing: border-box; }
    #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo {
      padding: 5px 0px; }
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h2,
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h5 {
        margin: 0px;
        line-height: 1; }
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h2 {
        font-weight: 700; }
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h5 {
        font-family: 'Roboto';
        font-weight: 100;
        color: #5e5e5e; }
  #bodyAudioVideo .contCardAudioVideo .bodyCardAudioVideo .txtCardAudioVideo p {
    text-align: justify; }
  #bodyAudioVideo .contCardAudioVideo .footerCardAudioVideo .redes a {
    color: #5e5e5e; }

#audioAudioShow {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #272727; }
  #audioAudioShow:after, #audioAudioShow:before {
    content: '';
    display: block;
    clear: both; }
  #audioAudioShow .contCardAudioShow .headerCardAudioShow {
    position: relative; }
    #audioAudioShow .contCardAudioShow .headerCardAudioShow .thumAudioShow img {
      width: 100%;
      max-width: none; }
    #audioAudioShow .contCardAudioShow .headerCardAudioShow .playCardAudioShow {
      width: 100%; }
  #audioAudioShow .contCardAudioShow .bodyCardAudioShow .txtCardAudio {
    color: #eeeeee; }

.skillsItems {
  display: inline-block; }
  .skillsItems li {
    width: 150px; }
    .skillsItems li img {
      width: 100%; }

#bodyAudioVideo:after,
#bodyAudioVideo:before {
  content: '';
  display: block;
  clear: both; }

#bodyAudioVideo {
  padding-bottom: 50px;
  background: #f2f2f2; }
  #bodyAudioVideo .contCardAudioVideo:after, #bodyAudioVideo .contCardAudioVideo:before {
    content: '';
    display: block;
    clear: both; }
  #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo {
    box-sizing: border-box; }
    #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo {
      padding: 5px 0px; }
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h2,
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h5 {
        margin: 0px;
        line-height: 1; }
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h2 {
        font-weight: 700; }
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h5 {
        font-family: 'Roboto';
        font-weight: 100;
        color: #5e5e5e; }
  #bodyAudioVideo .contCardAudioVideo .bodyCardAudioVideo .txtCardAudioVideo p {
    text-align: justify; }
  #bodyAudioVideo .contCardAudioVideo .footerCardAudioVideo .redes a {
    color: #5e5e5e; }

#audioAudioShow {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #272727; }
  #audioAudioShow:after, #audioAudioShow:before {
    content: '';
    display: block;
    clear: both; }
  #audioAudioShow .contCardAudioShow .headerCardAudioShow {
    position: relative; }
    #audioAudioShow .contCardAudioShow .headerCardAudioShow .thumAudioShow img {
      width: 100%;
      max-width: none; }
    #audioAudioShow .contCardAudioShow .headerCardAudioShow .playCardAudioShow {
      width: 100%; }
  #audioAudioShow .contCardAudioShow .bodyCardAudioShow .txtCardAudio {
    color: #eeeeee; }

.skillsItems {
  margin: 0px;
  text-align: center; }
  .skillsItems li {
    display: inline-block; }
    .skillsItems li img {
      width: 100%; }
    .skillsItems li p {
      text-align: center !important; }

#bodyAudioVideo:after,
#bodyAudioVideo:before {
  content: '';
  display: block;
  clear: both; }

#bodyAudioVideo {
  padding-bottom: 50px;
  background: #f2f2f2; }
  #bodyAudioVideo .contCardAudioVideo:after, #bodyAudioVideo .contCardAudioVideo:before {
    content: '';
    display: block;
    clear: both; }
  #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo {
    box-sizing: border-box; }
    #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo {
      padding: 5px 0px; }
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h2,
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h5 {
        margin: 0px;
        line-height: 1; }
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h2 {
        font-weight: 700; }
      #bodyAudioVideo .contCardAudioVideo .headerCardAudioVideo .titleCardAudioVideo h5 {
        font-family: 'Roboto';
        font-weight: 100;
        color: #5e5e5e; }
  #bodyAudioVideo .contCardAudioVideo .bodyCardAudioVideo .txtCardAudioVideo p {
    text-align: justify; }
  #bodyAudioVideo .contCardAudioVideo .footerCardAudioVideo .redes a {
    color: #5e5e5e; }

#audioAudioShow {
  padding-top: 20px;
  padding-buttom: 20px;
  background: #272727; }
  #audioAudioShow:after, #audioAudioShow:before {
    content: '';
    display: block;
    clear: both; }
  #audioAudioShow .contCardAudioShow .headerCardAudioShow {
    position: relative; }
    #audioAudioShow .contCardAudioShow .headerCardAudioShow .thumAudioShow img {
      width: 100%;
      max-width: none; }
    #audioAudioShow .contCardAudioShow .headerCardAudioShow .playCardAudioShow {
      width: 100%; }
  #audioAudioShow .contCardAudioShow .bodyCardAudioShow .txtCardAudio {
    color: #eeeeee; }

#bodyContact:after,
#bodyContact:before {
  content: '';
  display: block;
  clear: both; }

#bodyContact {
  padding-bottom: 50px;
  background: #f2f2f2; }
  #bodyContact .contCardForm #formContact .contInputContact {
    padding: 5px; }
    #bodyContact .contCardForm #formContact .contInputContact input,
    #bodyContact .contCardForm #formContact .contInputContact textarea {
      padding: 8px;
      height: 3rem;
      background: none;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #272727; }
      #bodyContact .contCardForm #formContact .contInputContact input:focus,
      #bodyContact .contCardForm #formContact .contInputContact textarea:focus {
        border-bottom: 2px solid #333333; }
    #bodyContact .contCardForm #formContact .contInputContact ::-webkit-input-placeholder {
      color: #272727; }
    #bodyContact .contCardForm #formContact .contInputContact :-moz-placeholder {
      /* Firefox 18- */
      color: #272727; }
    #bodyContact .contCardForm #formContact .contInputContact ::-moz-placeholder {
      /* Firefox 19+ */
      color: #272727; }
    #bodyContact .contCardForm #formContact .contInputContact :-ms-input-placeholder {
      color: #272727; }
    #bodyContact .contCardForm #formContact .contInputContact textarea {
      min-height: 150px;
      min-width: 100%;
      max-width: 100%; }
    #bodyContact .contCardForm #formContact .contInputContact #enviarForm {
      padding: 10px;
      border: 1px solid #272727;
      display: block;
      margin: 0px auto;
      width: 200px;
      font-weight: 700;
      text-align: center;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #bodyContact .contCardForm #formContact .contInputContact #enviarForm:hover {
        background: #272727;
        color: #fff; }

#bodyEventosE:after,
#bodyEventosE:before {
  content: '';
  display: block;
  clear: both; }

#bodyEventosE {
  padding-bottom: 50px;
  background: #f2f2f2; }
  #bodyEventosE .contCardEventosE {
    margin-bottom: 0.9375rem;
    position: relative;
    outline: red;
    overflow: hidden; }
    #bodyEventosE .contCardEventosE .headerCardEventosE {
      position: relative;
      height: 200px;
      overflow: hidden; }
      #bodyEventosE .contCardEventosE .headerCardEventosE .iconCardeventosE {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10; }
      #bodyEventosE .contCardEventosE .headerCardEventosE .thumCardEventosE {
        overflow: hidden; }
        #bodyEventosE .contCardEventosE .headerCardEventosE .thumCardEventosE img {
          width: 100%;
          max-width: none;
          height: 200px;
          opacity: 1;
          transform: scale(1.2, 1.2);
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
    #bodyEventosE .contCardEventosE .bodyCardEventosE {
      position: absolute;
      bottom: 0;
      height: 100px;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: rgba(28, 28, 28, 0.7);
      color: #ffffff;
      overflow: hidden;
      transform: translateY(100%);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #bodyEventosE .contCardEventosE .datosCardEventosE,
    #bodyEventosE .contCardEventosE .txtCardEventosE {
      width: 90%; }
    #bodyEventosE .contCardEventosE .txtCardEventosE {
      padding: 5px 0px; }
      #bodyEventosE .contCardEventosE .txtCardEventosE h5, #bodyEventosE .contCardEventosE .txtCardEventosE p {
        line-height: 1;
        margin: 0; }
    #bodyEventosE .contCardEventosE:hover .headerCardEventosE .thumCardEventosE img {
      opacity: 0.5;
      transform: scale(1.1, 1.1); }
    #bodyEventosE .contCardEventosE:hover .bodyCardEventosE {
      transform: translateY(0%); }

#bodyFotografiaP:after,
#bodyFotografiaP:before {
  content: '';
  display: block;
  clear: both; }

#bodyFotografiaP {
  padding-bottom: 50px;
  background: #f2f2f2; }
  #bodyFotografiaP:after, #bodyFotografiaP:before {
    content: '';
    display: block;
    clear: both; }
  #bodyFotografiaP #previView {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000; }
  #bodyFotografiaP #previView .cardViewFull {
    margin: auto;
    width: 100%;
    min-width: 320px;
    border: 5px solid #fff;
    overflow: hidden; }
    @media screen and (min-width: 480px) {
      #bodyFotografiaP #previView .cardViewFull {
        width: 35%; } }
  #bodyFotografiaP #previView .cardViewFull img {
    width: 100%; }
  #bodyFotografiaP .galeryFotoP {
    background-color: #333; }
    #bodyFotografiaP .galeryFotoP .headerGaleryFp {
      width: 100%; }
      #bodyFotografiaP .galeryFotoP .headerGaleryFp .thumbGaleryFp {
        width: 100%; }
        #bodyFotografiaP .galeryFotoP .headerGaleryFp .thumbGaleryFp img.imagGalery {
          width: 100%;
          cursor: pointer; }

#bodyIdCorp:after,
#bodyIdCorp:before {
  content: '';
  display: block;
  clear: both; }

#bodyIdCorp {
  padding-bottom: 50px;
  background: #f2f2f2; }
  #bodyIdCorp .contCradIdCorp {
    padding: 0px;
    margin-bottom: 40px;
    background-color: #ffffff; }
    #bodyIdCorp .contCradIdCorp #headerCardIdCorp:after,
    #bodyIdCorp .contCradIdCorp #headerCardIdCorp:before {
      content: '';
      display: block;
      clear: both; }
    #bodyIdCorp .contCradIdCorp .headerCardIdCorp {
      position: relative;
      padding: 0px;
      height: 250px;
      overflow: hidden; }
      #bodyIdCorp .contCradIdCorp .headerCardIdCorp .thumCardIdCorp {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; }
        #bodyIdCorp .contCradIdCorp .headerCardIdCorp .thumCardIdCorp img {
          width: 100%;
          max-width: none;
          transform: scale(1, 1);
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          #bodyIdCorp .contCradIdCorp .headerCardIdCorp .thumCardIdCorp img:hover {
            transform: scale(1.3, 1.3); }
    #bodyIdCorp .contCradIdCorp #bodyCardIdCorp:after,
    #bodyIdCorp .contCradIdCorp #bodyCardIdCorp:before {
      content: '';
      display: block;
      clear: both; }
    #bodyIdCorp .contCradIdCorp .bodyCardIdCorp {
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center; }
      #bodyIdCorp .contCradIdCorp .bodyCardIdCorp .txtCardIdCorp {
        width: 80%; }
        #bodyIdCorp .contCradIdCorp .bodyCardIdCorp .txtCardIdCorp h4 {
          font-weight: 700; }
        #bodyIdCorp .contCradIdCorp .bodyCardIdCorp .txtCardIdCorp p {
          color: #454545; }

#bodyMaterialP:after,
#bodyMaterialP:before {
  content: '';
  display: block;
  clear: both; }

#bodyMaterialP {
  padding-bottom: 50px;
  background: #f2f2f2; }
  #bodyMaterialP .contCardMaterialP:after,
  #bodyMaterialP .contCardMaterialP:before {
    content: '';
    display: block;
    clear: both; }
  #bodyMaterialP .contCardMaterialP {
    margin-bottom: 40px;
    padding: 0px;
    background-color: #ffffff; }
    #bodyMaterialP .contCardMaterialP .headerCardMaterialP {
      position: relative;
      padding: 0px;
      overflow: hidden;
      height: 170px; }
      #bodyMaterialP .contCardMaterialP .headerCardMaterialP .thumCardMaterialP {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; }
        #bodyMaterialP .contCardMaterialP .headerCardMaterialP .thumCardMaterialP img {
          width: 100%;
          max-width: none;
          height: auto;
          transform: scale(1, 1);
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          #bodyMaterialP .contCardMaterialP .headerCardMaterialP .thumCardMaterialP img:hover {
            transform: scale(1.3, 1.3); }
    #bodyMaterialP .contCardMaterialP .bodyCardMaterialP:after,
    #bodyMaterialP .contCardMaterialP .bodyCardMaterialP:before {
      content: '';
      display: block;
      clear: both; }
    #bodyMaterialP .contCardMaterialP .bodyCardMaterialP {
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: columns; }
      #bodyMaterialP .contCardMaterialP .bodyCardMaterialP .iconCardMaterialP {
        padding: 0px; }
        #bodyMaterialP .contCardMaterialP .bodyCardMaterialP .iconCardMaterialP p {
          margin: 0px;
          text-align: center; }
          #bodyMaterialP .contCardMaterialP .bodyCardMaterialP .iconCardMaterialP p i {
            font-size: 1.2rem; }
        #bodyMaterialP .contCardMaterialP .bodyCardMaterialP .iconCardMaterialP p:nth-child(2) {
          text-transform: uppercase;
          font-weight: 600; }
      #bodyMaterialP .contCardMaterialP .bodyCardMaterialP .txtCardMaterialP {
        text-align: justify;
        overflow: hidden;
        opacity: 0.8;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        #bodyMaterialP .contCardMaterialP .bodyCardMaterialP .txtCardMaterialP p {
          margin: 0;
          color: #454545;
          font-family: 'Roboto' , sans-serift;
          line-height: 1.2; }
      #bodyMaterialP .contCardMaterialP .bodyCardMaterialP:hover .txtCardMaterialP {
        opacity: 1; }

/*# sourceMappingURL=app.css.map */
