/* line 2, ../scss/fotografiaP.scss */
#bodyFotografiaP:after,
#bodyFotografiaP:before {
  content: '';
  display: block;
  clear: both;
}

/* line 7, ../scss/fotografiaP.scss */
#bodyFotografiaP {
  padding-bottom: 50px;
  background: #f2f2f2;
}
/* line 11, ../scss/fotografiaP.scss */
#bodyFotografiaP:after, #bodyFotografiaP:before {
  content: '';
  display: block;
  clear: both;
}
/* line 16, ../scss/fotografiaP.scss */
#bodyFotografiaP #previView {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}
/* line 26, ../scss/fotografiaP.scss */
#bodyFotografiaP #previView .cardViewFull {
  margin: auto;
  width: 100%;
  min-width: 320px;
  border: 5px solid #fff;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  /* line 26, ../scss/fotografiaP.scss */
  #bodyFotografiaP #previView .cardViewFull {
    width: 35%;
  }
}
/* line 36, ../scss/fotografiaP.scss */
#bodyFotografiaP #previView .cardViewFull img {
  width: 100%;
}
/* line 39, ../scss/fotografiaP.scss */
#bodyFotografiaP .galeryFotoP {
  background-color: #333;
}
/* line 41, ../scss/fotografiaP.scss */
#bodyFotografiaP .galeryFotoP .headerGaleryFp {
  width: 100%;
}
/* line 43, ../scss/fotografiaP.scss */
#bodyFotografiaP .galeryFotoP .headerGaleryFp .thumbGaleryFp {
  width: 100%;
}
/* line 45, ../scss/fotografiaP.scss */
#bodyFotografiaP .galeryFotoP .headerGaleryFp .thumbGaleryFp img.imagGalery {
  width: 100%;
  cursor: pointer;
}
