#bodyContact:after,
#bodyContact:before{
	content: '';
	display: block;
	clear: both;
}
#bodyContact{
	padding-bottom: 50px;
	background: #f2f2f2;
	.contCardForm{
		#formContact{
			.contInputContact{
				padding:5px;
				input,
				textarea{
					padding:8px;
					height:3rem;
					background:none;
					border:none;
					box-shadow:none;
					border-bottom:1px solid #272727;
					&:focus{
						border-bottom:2px solid #333333;
					}
				}

					::-webkit-input-placeholder {
					color: #272727;
					}

					:-moz-placeholder { /* Firefox 18- */
					color: #272727;  
					}

					::-moz-placeholder {  /* Firefox 19+ */
					color: #272727;  
					}

					:-ms-input-placeholder {  
					color: #272727;  
					}

				textarea{
					min-height:150px;
					min-width:100%;
					max-width:100%;
				}
				#enviarForm{
					padding:10px;
					border:1px solid #272727;
					display:block;
					margin:0px auto;
					width:200px;
					font-weight:700;
					text-align:center;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-ms-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
					&:hover{
						background:#272727;
						color:#fff;
					}
				}
			}
		}
	}
}
