@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700,300,300italic);
body{
	font-family: 'Roboto' , sans-serift;
}
header#headerG{
	.headCont{
		height: 150px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-moz-align-items: center;
		align-items: center;
		justify-content: center;
		padding-bottom: 0px;
		.redesHeader{
			text-align: center;
			p{
				margin: 0;
				a{
					color: #272727;
					font-size: 1.7rem;
				}
			}
		}
		.brandCont{
			text-align: center;
			img{
				max-width: 270px;
				width:100%;
			}
		}
		.firstLick{
			text-align: center;
			a{
				color: #555555;
			}
		}
	}
	#navBar:after,
	#navBar:before{
		content: '';
		display: block;
		clear: both;
	}
	#navBar{
		position: relative;
		background-color: #000000;
		height: 100px;
		overflow: hidden;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		.btnToggle:before,
		.btnToggle:after{
			content: '';
			display: block;
			clear: both;
		}
		.btnToggle{
			height: 100px;
			display: flex;
			align-items: center;
			.btnMovil{
				color: #ffffff;
				.iconNavMovil{
					font-size: 2rem;
				}
			}
		}
		.contItemsNav{
			ul{
				margin: 0px;
				list-style: none;
				li{
					border-right:1px solid #fff;
					// display: block;
					&:nth-last-child(1){
						border-right:none;
					}
					a{
						padding:0px 3px;
						display: block;
						position:relative;
						color: #ffffff;
						text-align: center;
						z-index:10;
						&:before{
							content: '';
							position: absolute;
							display: block;
							width: 100%;
							height: 100%;
							background: url(../recursos/img/testHoverBg.png) no-repeat;
							background-size:100%;
							background-position:center;
							top: 0;
							opacity:0.3;
							z-index: 1;
							-webkit-transition: all 0.3s ease;
							-moz-transition: all 0.3s ease;
							-ms-transition: all 0.3s ease;
							-o-transition: all 0.3s ease;
							transition: all 0.3s ease;
						}
						&:hover{
							&:before{
								opacity:0.9;
							}
						}
					}
				}
			}
		}
	}
	#navBar.openNav{
		height: 300px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	@media screen and (min-width: 768px){
		#navBar{
			.btnToggle{
				display: none;
			}
			.contItemsNav{
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100px;
				ul{
					width: 100%;
					display: flex;
					align-items: center;
					height: 50px;
					justify-content: center;
					li{
						padding: 0px 5px;
						display: inline-block;
						a{
							padding-bottom: 0px 3px;
						}
					}
				}
			}
		}
	}
}
main{
	.wrapper{
		#bannerHome:after,
		#bannerHome:before{
			content: '';
			display: block;
			clear: both;
		}
		#bannerHome{
			position: relative;
			width: 100%;
			height: 0px;
			padding-bottom:56.25%;
			overflow: hidden;
			.thumBannerHome{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url('../recursos/img/background.png');
				background-repeat: no-repeat;
				background-size: cover;
				background-position:(center, center);
				overflow: hidden;
				img{
					max-width: none;
					height: auto;
					position: absolute;
					width: 100%;
					height: 100%;
				}
				video{
					max-width: none;
					height: auto;
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
			.coverBannerVideo{
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.5);
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
			}
		}
		#galleryHome:after,
		#galleryHome:before{
			content: '';
			display: block;
			clear: both;
		}
		#galleryHome{
			// margin-top: 50px;
			padding-top: 50px;
			padding-bottom: 50px;
			background: rgba(50,50,50,1);
			.galleryHome{
				margin-top: 10px;
				margin-bottom: 10px;
				position: relative;
				// outline: 1px solid red;
				
				.cardGalleryHome{
					position: relative;
					width: 100%;
					
					overflow: hidden;
					.cardGalleryHomeHeader{
						position: relative;
						width: 100%;
						overflow: hidden;
						img{
							position: relative;
							text-align: center;
							top: 0;
							right: 0;
							width: 100%;
							min-width: 200px;
							max-width:none;
							
						}
					}
					.contbodyCardGallery{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						// background-color: rgba(0,0,0,0.6);
						display: flex;
						align-items: center;
						justify-content: center;
						transform: translateX(-100%);
						-webkit-transition: all 0.3s ease;
						-moz-transition: all 0.3s ease;
						-ms-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						transition: all 0.3s ease;
						.cardGalleryHomeBody{
							position: relative;
							width: 0%;
							margin: 0px auto;
							height: 90%;
							background: rgba(0,0,0,0.7);
							overflow: hidden;
							-webkit-transition: all 0.3s ease;
							-moz-transition: all 0.3s ease;
							-ms-transition: all 0.3s ease;
							-o-transition: all 0.3s ease;
							transition: all 0.3s ease;
							.cardGalleryTxt{
								opacity:0;
								-webkit-transition: all 0.3s ease;
							-moz-transition: all 2s ease;
							-ms-transition: all 2s ease;
							-o-transition: all 2s ease;
							transition: all 2s ease;
								h2{
									text-align: center;
									color:#ffffff;
									text-transform: uppercase;
									font-weight: 700;
								}
								p{
									text-align: center;
									color:#ffffff;
								}
							}

						}
					}	
				}
				&:hover{
					.cardGalleryHome{
						.contbodyCardGallery{
							transform: translateX(0);
							.cardGalleryHomeBody{
								width: 90%;
								.cardGalleryTxt{
									opacity:1;
								}
							}
						}
					}
				}
				
			}
			
		}
	}

}
footer:after,
footer:before{
	content: '';
	display: block;
	clear: both;
}
footer{
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #272727;
	.titleFooter{
		text-align: center;
		color:#ffffff;
		font-weight: 900;
	}
	.contForm{
		form{
			.inputCont{
				input,textarea{
					color:#555555;
					border: none;
					background:none;
					box-shadow:none;
					border-bottom:1px solid #555555;
					&:focus{
						border-bottom:2px solid #555555;
					}
				}
				input[type="text"]{

				}
				textarea{
					min-width: 100%;
					height: 100px;
					min-height: 100px;
				}
				button{
					padding: 5px;
					width: 100%;
					border: 2px solid #ffffff;
					color: #ffffff;
				}
				::-webkit-input-placeholder {
					color: #555555;
					}

					:-moz-placeholder { /* Firefox 18- */
					color: #555555;  
					}

					::-moz-placeholder {  /* Firefox 19+ */
					color: #555555;  
					}

					:-ms-input-placeholder {  
					color: #555555;  
					}
			}
		}
	}
	.contactFooter{
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		p{
			color: #ffffff;
			margin-bottom: 0.7rem;
			a{
				color: #ffffff;
				font-size: 1.3rem;
			}
		}
	}
	.redesFooter{
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		p{
			margin: 0px;
			a{
				padding: 0px 10px;
				i{
					color: #ffffff;
					font-size: 1.4rem;
				}
			}
		}
	}
	.navFooter{
		padding-bottom: 5px;
		padding-top: 5px;
		ul{
			padding: 0px;
			list-style: none;
			text-align: right;
			li{
				a{
					font-size: 1.1rem;
					color: #ffffff;
				}
			}
		}
	}
}
//otras ventanas
/*otras ventanas*/
#bannerWindow:after,
#bannerWindow:before{
	content: '';
	display: block;
	clear: both;
}
#titleSite{
	margin-top: 120px;
	h2{
		margin:0px;
		color: #4c4c4c;
		font-weight: 700; 
	}
}
#bannerWindow{
	padding-bottom: 50px;
	position: relative;
	background: #f2f2f2;
	.titleWindow{
		.titleE{
			font-family: 'Dragon_is_coming' , sans-serift;
			font-size:4rem;
			line-height: 0.7;
			text-align: center;
			font-weight:400;
			@media screen and (min-width:480px){
				text-align: left;
				font-size:6rem;
			}
		}
		h1,h3{
			margin: 0;
			color: #555555;
			text-align: fleft;
		}
		h1{
			font-size:1.4rem;
			font-weight: 700;
			text-align: center;
			@media screen and (min-width:480px){
				font-size:1.8rem;
				text-align: left;
			}
		}
		h3{
			color: #4c4c4c;
			font-family: 'Roboto' , sans-serift;
			font-weight: 300;
		}
		p{
			text-align: justify;
		}
	}
}
.btnVerMAs{
	text-align: center;
	margin: 10px 0px;
	&:after,
	&:before{
		content: '';
		display: block;
		clear: both;
	}
	a{
		display: block;
		max-width: 320px;
		margin: 0px auto;
		padding: 7px 10px;
		background-color:transparent;
		border:2px solid #272727;
		color:#272727;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		&:hover{
			color:#f2f2f2;
			background-color: #272727;
		}
	}
}
