@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700,300,300italic);
/* line 3, ../scss/app.scss */
body {
  font-family: 'Roboto' , sans-serift;
}

/* line 7, ../scss/app.scss */
header#headerG .headCont {
  height: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: end;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
}
/* line 18, ../scss/app.scss */
header#headerG .headCont .redesHeader {
  text-align: center;
}
/* line 20, ../scss/app.scss */
header#headerG .headCont .redesHeader p {
  margin: 0;
}
/* line 22, ../scss/app.scss */
header#headerG .headCont .redesHeader p a {
  color: #272727;
  font-size: 1.7rem;
}
/* line 28, ../scss/app.scss */
header#headerG .headCont .brandCont {
  text-align: center;
}
/* line 30, ../scss/app.scss */
header#headerG .headCont .brandCont img {
  max-width: 150px;
}
/* line 34, ../scss/app.scss */
header#headerG .headCont .firstLick {
  text-align: center;
}
/* line 36, ../scss/app.scss */
header#headerG .headCont .firstLick a {
  color: #555555;
}
/* line 42, ../scss/app.scss */
header#headerG #navBar:after,
header#headerG #navBar:before {
  content: '';
  display: block;
  clear: both;
}
/* line 47, ../scss/app.scss */
header#headerG #navBar {
  position: relative;
  background-color: #000000;
  height: 100px;
  overflow: hidden;
}
/* line 53, ../scss/app.scss */
header#headerG #navBar .btnToggle:before,
header#headerG #navBar .btnToggle:after {
  content: '';
  display: block;
  clear: both;
}
/* line 58, ../scss/app.scss */
header#headerG #navBar .btnToggle {
  height: 100px;
  display: flex;
  align-items: center;
}
/* line 62, ../scss/app.scss */
header#headerG #navBar .btnToggle .btnMovil {
  color: #ffffff;
}
/* line 64, ../scss/app.scss */
header#headerG #navBar .btnToggle .btnMovil .iconNavMovil {
  font-size: 2rem;
}
/* line 70, ../scss/app.scss */
header#headerG #navBar .contItemsNav ul {
  margin: 0px;
  list-style: none;
}
/* line 75, ../scss/app.scss */
header#headerG #navBar .contItemsNav ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* line 86, ../scss/app.scss */
  header#headerG #navBar .btnToggle {
    display: none;
  }
  /* line 89, ../scss/app.scss */
  header#headerG #navBar .contItemsNav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  /* line 99, ../scss/app.scss */
  header#headerG #navBar .contItemsNav ul {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
  }
  /* line 105, ../scss/app.scss */
  header#headerG #navBar .contItemsNav ul li {
    padding: 0px 5px;
    display: inline-block;
  }
  /* line 108, ../scss/app.scss */
  header#headerG #navBar .contItemsNav ul li a {
    padding-bottom: 0px 3px;
  }
}

/* line 120, ../scss/app.scss */
main .wrapper #bannerHome:after,
main .wrapper #bannerHome:before {
  content: '';
  display: block;
  clear: both;
}
/* line 125, ../scss/app.scss */
main .wrapper #bannerHome {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%;
  overflow: hidden;
}
/* line 131, ../scss/app.scss */
main .wrapper #bannerHome .thumBannerHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../recursos/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  overflow: hidden;
}
/* line 142, ../scss/app.scss */
main .wrapper #bannerHome .thumBannerHome img {
  max-width: none;
  height: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 149, ../scss/app.scss */
main .wrapper #bannerHome .thumBannerHome video {
  max-width: none;
  height: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 157, ../scss/app.scss */
main .wrapper #bannerHome .coverBannerVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* line 169, ../scss/app.scss */
main .wrapper #galleryHome:after,
main .wrapper #galleryHome:before {
  content: '';
  display: block;
  clear: both;
}
/* line 174, ../scss/app.scss */
main .wrapper #galleryHome {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #323232;
}
/* line 179, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  height: 250px;
}
/* line 185, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome .cardGalleryHome {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
/* line 190, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome .cardGalleryHome .cardGalleryHomeHeader {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 195, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome .cardGalleryHome .cardGalleryHomeHeader img {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 100%;
  min-width: 200px;
  max-width: none;
  height: 100%;
}
/* line 206, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome .cardGalleryHome .contbodyCardGallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 222, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody {
  position: relative;
  width: 0%;
  margin: 0px auto;
  height: 90%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 234, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody .cardGalleryTxt {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
/* line 241, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody .cardGalleryTxt h2 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 247, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody .cardGalleryTxt p {
  text-align: center;
  color: #ffffff;
}
/* line 258, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome:hover .cardGalleryHome .contbodyCardGallery {
  transform: translateX(0);
}
/* line 260, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome:hover .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody {
  width: 90%;
}
/* line 262, ../scss/app.scss */
main .wrapper #galleryHome .galleryHome:hover .cardGalleryHome .contbodyCardGallery .cardGalleryHomeBody .cardGalleryTxt {
  opacity: 1;
}

/* line 277, ../scss/app.scss */
footer:after,
footer:before {
  content: '';
  display: block;
  clear: both;
}

/* line 282, ../scss/app.scss */
footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #272727;
}
/* line 287, ../scss/app.scss */
footer .titleFooter {
  text-align: center;
  color: #ffffff;
  font-weight: 900;
}
/* line 295, ../scss/app.scss */
footer .contForm form .inputCont input, footer .contForm form .inputCont textarea {
  background-color: #555555;
  border: none;
}
/* line 302, ../scss/app.scss */
footer .contForm form .inputCont textarea {
  min-width: 100%;
  height: 100px;
  min-height: 100px;
}
/* line 307, ../scss/app.scss */
footer .contForm form .inputCont button {
  padding: 5px;
  width: 100%;
  border: 2px solid #ffffff;
  color: #ffffff;
}
/* line 316, ../scss/app.scss */
footer .contactFooter {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 320, ../scss/app.scss */
footer .contactFooter p {
  color: #ffffff;
  margin-bottom: 0.7rem;
}
/* line 323, ../scss/app.scss */
footer .contactFooter p a {
  color: #ffffff;
  font-size: 1.3rem;
}
/* line 329, ../scss/app.scss */
footer .redesFooter {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 333, ../scss/app.scss */
footer .redesFooter p {
  margin: 0px;
}
/* line 335, ../scss/app.scss */
footer .redesFooter p a {
  padding: 0px 10px;
}
/* line 337, ../scss/app.scss */
footer .redesFooter p a i {
  color: #ffffff;
  font-size: 1.4rem;
}
/* line 344, ../scss/app.scss */
footer .navFooter {
  padding-bottom: 5px;
  padding-top: 5px;
}
/* line 347, ../scss/app.scss */
footer .navFooter ul {
  padding: 0px;
  list-style: none;
  text-align: right;
}
/* line 352, ../scss/app.scss */
footer .navFooter ul li a {
  font-size: 1.1rem;
  color: #ffffff;
}

/*otras ventanas*/
/* line 363, ../scss/app.scss */
#bannerWindow:after,
#bannerWindow:before {
  content: '';
  display: block;
  clear: both;
}

/* line 368, ../scss/app.scss */
#titleSite {
  margin-top: 120px;
}
/* line 370, ../scss/app.scss */
#titleSite h2 {
  margin: 0px;
  color: #4c4c4c;
  font-weight: 700;
}

/* line 376, ../scss/app.scss */
#bannerWindow {
  padding-bottom: 50px;
  position: relative;
  background: #f2f2f2;
}
/* line 381, ../scss/app.scss */
#bannerWindow .titleWindow h1, #bannerWindow .titleWindow h3 {
  margin: 0;
}
/* line 384, ../scss/app.scss */
#bannerWindow .titleWindow h1 {
  font-weight: 700;
}
/* line 387, ../scss/app.scss */
#bannerWindow .titleWindow h3 {
  color: #4c4c4c;
  font-family: 'Roboto' , sans-serift;
  font-weight: 300;
}
